<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JWT" version="2.3.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="OpenTok" version="2.4.7" targetFramework="net461" />
</packages>